
/Application/Ecommerce/.vs
/Application/Ecommerce/Ecommerce.API/obj
/Application/Ecommerce/Ecommerce.Application/obj
/Application/Ecommerce/Ecommerce.Core/obj
/Application/Ecommerce/Ecommerce.Infrastructure/obj
